[nicocomment]
# no configurable parameters in this section

[nicoalert]
mail = mail@example.com
password = p@ssword

[nicolive]
# force_debug_tweet = true
live_logging = true

[community-all]
# @twitter_account
consumer_key = xxxxxxxxxx
consumer_secret = xxxxxxxxxx
access_key = xxxxxxxxxx
access_secret = xxxxxxxxxx

[community-co12345]
# @twitter_account
consumer_key = xxxxxxxxxx
consumer_secret = xxxxxxxxxx
access_key = xxxxxxxxxx
access_secret = xxxxxxxxxx

[community-co67890]
# @twitter_account
consumer_key = xxxxxxxxxx
consumer_secret = xxxxxxxxxx
access_key = xxxxxxxxxx
access_secret = xxxxxxxxxx

[user-12345]
header_text = xxxxx監視中
# @twitter_account
consumer_key = xxxxxxxxxx
consumer_secret = xxxxxxxxxx
access_key = xxxxxxxxxx
access_secret = xxxxxxxxxx

[user-67890]
header_text = xxxxx監視中
# @twitter_account
consumer_key = xxxxxxxxxx
consumer_secret = xxxxxxxxxx
access_key = xxxxxxxxxx
access_secret = xxxxxxxxxx

[loggers]
keys=root,alert

[logger_root]
level=NOTSET
handlers=root

[logger_alert]
level=NOTSET
handlers=alert
qualname=alert
propagate=0

[handlers]
keys=root,alert

[handler_root]
class=handlers.RotatingFileHandler
level=NOTSET
formatter=default
args=(os.getcwd() + "/log/nicocomment.log", 'a', (100*1024*1024), 9)

[handler_alert]
class=handlers.RotatingFileHandler
level=NOTSET
formatter=default
args=(os.getcwd() + "/log/nicoalert.log", 'a', (100*1024*1024), 9)

[formatters]
keys=default

[formatter_default]
format=[%(asctime)s] [%(levelname)s] [%(threadName)s] %(message)s
datefmt=
